@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #7108bd9b 16.62%, #7406bd 85.61%);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.baseboard{
    max-width: 100%;
    max-height: 350px;
    background-color: rgb(110, 1, 138);
}
.baseboard-image {
    max-width: 300px;
}
.copyright {
    background-color: rgb(110, 1, 138)
}