@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #ffffff 16.62%, #ffffff 85.61%);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.container-image {
    display: flex;
    height: 52px;
}
.container-menu {
    display: flex;
    gap: 30px;
}

.container-menu-item {
    color: #000000;


}
 .container-menu-item {
     border:none;
     color:#ffffff;
     padding: 5px;
     margin: 0px;
     font-size: 16px;
     line-height: 24px;
     border-radius: 10px;
     position: relative;
     box-sizing: border-box;
     cursor: pointer;
     transition: all 400ms ease;


 }

.container-menu-item {

    background: #376693;

}
.container-menu-item :before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all,1s;
}
.container-menu-item :hover:before{
    width: 100%;
}

.content {
    margin-bottom: 78px;
    border-top: 0.4px solid #000000;
}

.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-main-typed {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.content-main-typed-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;


}

.content-main-type-caption {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.content-main-type-caption-button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2F2325;

}
.content-main-type-caption-button:hover {
    background-color: rgba(193, 147, 211, 0.363);
}

.primary-content {
    height: 430%;
 }

 .secondary-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 24px;
     margin-top: 48px;
 }

 .secondary-content-title {
    border-top: 0.4px solid #960cd6;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
 }

 .team {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.4px solid #960cd6;
    margin-top: 300px;
 }

.team-image {
    display: flex;
    gap: 100px;
    margin-top: 30px;
}

 .team-image-round {
    height: 100px;
    height: 100px;
    border-radius: 50px;

 }

.baseboard{
    max-width: 100%;
    max-height: 350px;
    background-color: rgb(110, 1, 138);
}

.baseboard-image {
    max-width: 300px;
}

.copyright {
  color: #ffffff;
}